
.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 100vh;   
    
  }
  
  /* Content */
  .Content {
    width: 280px;
    height: 411px;
    gap: 15px;
    display: flex; 
    flex-flow: row wrap;    
    background-color: #fdfeff;      
    border-radius: 16px;
    
    
  }