.Title {
  color: #B4AEAE;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

.Text {
  color: #4B4B4B; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}