
.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
  }
  
  /* Content */
  .Content {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    background-color: #fdfeff;
    max-width: 350px;
    padding: 48px 24px;
    border-radius: 16px;
    margin-top: 32px;
  }