
.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    margin-bottom: 32px;
  }
  
  /* Content */
  .Content {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 280px;
    height: 411px;
    background-color: #fdfeff;    
    border-radius: 16px;
     margin-top: 32px;
   
  }