.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 3rem;
    height: 100vh;
  } 
     
  .inputRealContainer{ 
    display: flex;
    width: 100%;  
    justify-content: flex-end;
    align-items: flex-end;
    
  }
  /* Content */
  .Content {
    margin: 0;
    gap: 1rem; /* Rounded to 1rem */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25rem; /* Rounded to 25rem */
    height: 40rem; /* Rounded to 37rem */
    padding: 3rem 1.5rem; /* Rounded to 3rem and 1.5rem */
    border-radius: 16px; /* Rounded to 1rem */
    background-color: #FDFEFF;
    transition: all ease 0.5s;
  }
  
    /* Label */
    .Label {
      color: var(--primary-color);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 20px;
     }
   
    .RememberPassword {
      display: flex;
      justify-content: flex-start; /* Alinha o conteúdo à esquerda */
      align-items: center;
      color: var(--placeholder-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%; /* Ocupa toda a largura disponível */
      margin-top: 0;
    }
    
    .RememberPassword input[type="checkbox"] {    
      appearance: none; /* Removendo o estilo padrão do checkbox */
      width: 14px;
      height: 14px;    
      border-radius: 4px;
      margin-right: 8px;
      border: 2px solid #ffffff;
      cursor: pointer;
      box-shadow: 0 0 1px 1px #ddd;
    }
    
    /* Estilo da caixa de seleção quando estiver marcada */
    .RememberPassword input[type="checkbox"]:checked {
      background-color:var(--primary-color);
      padding: 3px;
      border: 2px solid #ffffff;
    }   
    
    /* LabelError */
    .LabelError {
      font-size: 14px;
      color: red;
    }
    
  
    .Strong{ 
      color: var(--primary-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
   }

   .Link{ 
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }

   
  
   @media (max-width: 1000px) {
    .Container {
      flex-direction: column;
    }
  
    .CardImg {
      display: none; /* Remover a imagem */
      
    }
  
    .Content {    
      transform: scale(1.05);
    }
  
  }

  @media (max-width: 500px){
    .Content {    
      transform: scale(0.9);
    }

  }